/* Imports */
/* Variables */
/* Overall */
html {
}
body {
  background-color: #000719;
  color: #e8e8e8;
  margin: 0;
  padding: 0;
}
/* Typography */
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
p {
}
a {
}

/* Logo */
#logo {
  position: fixed;
  top: 24px;
  left: 40px;
  font-size: 32px;
}
/* Nav */
#nav {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
}

#nav a {
  color: #ff9e79;
}
#nav li {
  display: inline-block;
  font-size: 24px;
  margin-right: 40px;
  line-height: 60px;
}
#nav li:hover {
  color: #47c9f5;
  transform: scale(5);
  border-bottom: 3px solid #47c9f5;
  /* background-color:blue; */
  margin-right: 60px;
  /* transform: rotate(20deg); */
  transition-duration: 500ms;
  cursor: pointer;
}
<html>
<head>
    <title>Alice Barnebey Portfolio</title>
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio">
    <meta name="keywords" content="Design, UX, UI, Portfolio">
    <meta name="author" content="">
    <!-- CSS / Styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <!-- This is my nav -->
    <ul id="nav">
        <a href="#portfolio">
            <li>Portfolio</li>
        </a>
        <a href="#bio">
            <li>Bio</li>
        </a>
        <a href="#cv">
            <li>CV</li>
        </a>
        <a href="#contact">
            <li>Contact</li>
        </a>
    </ul>
    <!-- Hero Section -->
    <div class="section">
        <h1 class="center-align">Jane Smith</h1>
        <h1 class="center-align">UX/UI Designer</h1>
    </div>
    <!-- Portfolio Section -->
    <div id="portfolio" class="section">
        <h2 class="center-align">Portfolio</h2>
    </div>
    <!-- Bio Section -->
    <div id="bio" class="section">
        <h2 class="center-align">Bio</h2>
    </div>
    <!-- CV Section -->
    <div id="cv" class="section">
        <h2 class="center-align">CV</h2>
    </div>
    <!-- Contact Section -->
    <div id="contact" class="section">
        <h2 class="center-align">Contact</h2>
    </div>
    <!-- This is where I load the Javascript -->
    <script src="js/main.js"></script>
</body>
</html>
20:51
style.css
/* Imports */
/* Variables */
/* Overall */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000719;
  color: #3d9602;
  margin: 0;
  padding: 0;
}
/* Typography */
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
p {
}
a {
  color: #fff;
}
/* Nav */
#nav {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
}
#nav li {
  display: inline-block;
  font-size: 24px;
  margin-right: 40px;
  line-height: 100px;
}
#nav li:hover {
  color: #298dff;
  transform: scale(1.1);
  transition-duration: 500ms;
  cursor: pointer;
}
/* Page Layout */
.section {
  min-height: 100vh;
}
#heroText {
  margin-top: 40vh;
}
#bio {
  background-image: url("../images/bio-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.caseStudy {
  background-color: #47c9f5;
  height: 200px;
  width: 100%;
  margin: 20px;
}
